.btn-container {
  display: none; /* Hide buttons by default */
}

.card:hover .btn-container {
  display: block; /* Show buttons on hover */
}

.mt-20 {
  margin-top: 5rem; /* Adjust as needed */
  margin-bottom: 3rem;
}

#body {
  background-color: #f8f9fa; /* Light gray background for the body */
}
