<!DOCTYPE html>
<html>
<%- include("../templates/head.ejs") %>

    <body>
        <%- include("../templates/navBar.ejs") %>
            <div class="mt-20">
                <div class="card">
                    <h2>Login</h2>
                    <% if (error) { %>
                        <p class="error">
                            <%= error %>
                        </p>
                        <% } %>

                            <form method="POST" action="/login">
                                <label>Email:</label>
                                <input type="email" name="email" required />

                                <label>Password:</label>
                                <input type="password" name="password" required />

                                <button type="submit">Login</button>
                            </form>
                </div>
            </div>
    </body>

</html>